<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body ng-app="app">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8" ng-controller="EventController as eventCon">
					<div class="panel" ng-repeat="event in eventCon.events" ng-class="{'panel-critical': event.status=='1', 'panel-danger': event.status=='2', 'panel-warning': event.status=='3', 'panel-success': event.status=='4'}">
						<div class="panel-heading" ng-click="eventCon.toggle(event, $index)">{{event.title}}</div>
						
						<div class="panel-body" ng-show="event.show">
							<div class="panel panel-default" >
								<div class="panel-body">
									{{event.message}}
								</div>
								
							</div>
							<br>
							<div class="panel panel-info">
							<div class="panel-heading" ng-click="eventCon.toggleComments(event)">
								Updates
							</div>
								<div class="panel-body" ng-show="event.showC">
									<div class="panel panel-default" ng-repeat="comment in event.comments">
										<div class="panel-body">
											<p>{{comment.message}}</p>
										</div>
										<div class="panel-footer">
											<small>Updated: {{comment.date}}</small>
										</div>
									</div>
									<div class="panel panel-default" ng-show="event.comments.length == 0">
										<div class="panel-body text-center">
										<p>No updates have been posted.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</body>
	<footer>
	</footer>
	<script src="../bootstrap/jquery.min.js"></script>
	<script src="../angular.min.js"></script>
	<script src="app.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="panels.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="../bootstrap/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>